<div>
  User : <%= @user.name %>
</div>

<div>
  <%= @user.email %>
</div>

<%= link_to "Approve", approve_siteadmin_siteuser_path(@user), class: "btn btn-success" if !@user.approved? %>
<%= link_to "Reject", @user, method: :delete, class: "btn btn-danger" %>