<h1>Edit bid</h1>

<%= form_with model: @bid do |f| %>
  <%= render "shared/form_errors", form: f %>

  <%= render "form", { f: f, p: @bid.project } %>

  <div class="d-grid d-md-flex">
    <%= f.submit "Update Bid", class: "btn btn-primary" %>
  </div>
<% end %>

