<h1>
  New bid
</h1>

<%= form_with model: [@project, @bid] do |f| %>
  <%= render "form", { f: f, p: @project } %>

  <%= f.hidden_field :bidding_user_id, value: current_user.id %>

  <div class="d-grid d-md-flex">
    <%= f.submit "Bid for project", class: "btn btn-primary" %>
  </div>
<% end %>

