<h1> 
  Account activated.
</h1>

<p>
  Hello <%= @user.name %>,
</p>

<p>
  Your account has been approved by the admin. <%= link_to 'Activate', edit_accountactivation_url(@user.activation_token, id: @user.id)  %> your account soon.
</p>

<%= render "shared/thanks" %>
