<% if form.object.errors.any? %>
  <div class="alert alert-danger">
    <%= pluralize(form.object.errors.count, "error") %> :
    <ul>
      <% form.object.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>