<h1> Apu Online Freelancing </h1>

Welcomes you to provide the best solutions for your freelancing needs.

<div>
  <%= link_to 'Projects list', all_projects_projects_path %>
  <%= link_to 'Users list', siteusers_path %>
</div>