<main>
  <div class="equally-distribute">
    <h1>
      Projects Index
    </h1>

    <div>
      <%= link_to '+ New project', new_siteuser_project_path(current_user), class: "btn btn-primary" if logged_in? && current_user.client? %>
    </div>
  </div>

  <%= render "shared/project_cards", project_list: @all_projects.order(created_at: :desc) %>
</main>
