/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap/scss/bootstrap";
@import "siteusers";
@import "projects";
@import "conversations";

$accent-color-main: #005A8F;
$nav-font-color: #E3F9FF;

.intro {
  background-image: url('09090_BG.jpg');
  color: #FFFFFF;
  padding: 20px;
  height: 400px;
}

.non-underlined-link {
  text-decoration: none;
}

.equally-distribute {
  display: flex;
  justify-content: space-between;
}

.navbar {
  background-color: $accent-color-main;
  padding: 10px 25px;

  a.nav-link {
    color: $nav-font-color;
  }
}

.navbar-brand {
  color: $nav-font-color;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 600;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

.project-count {
  font-size: 84px;
  font-weight: 600;
}

section {
  margin: 25px 0;
}

.project-link {
  text-decoration: none;
}

.timestamp {
  text-align: right;
  font-size: 14px;
}

.form-group {
  margin: 20px 0;
}

.login-dropdown, .notification-dropdown{
  height: 360px;
  width: 100%;
}

.notifications {
  font-size: 14px;
  position: relative;
  overflow-y: auto;
  height: 80%;
  z-index: 1;
}

.badge-count {
  position: absolute;
  right: 8px;
  font-size: 10px;
}

.navbar-toggler {
  background-color: #FFFFFF;
}

.navbar-toggler-icon {
  color: $accent-color-main;

  svg {
    width: 42px;
    height: 36px;
    margin-left: -6px;
    margin-top: -3px;
  }
}

.index-font-size {
  font-size: 16px;

  span {
    display: block;
  }
}

.positioned {
  position: absolute;
  z-index: 1;
  text-align: center;
  background-color: #FFFFFF;
}

.description, .message-body {
  white-space: pre-line;
  margin-top: -20px;
  overflow-wrap: break-word;
}

.card-text p.text-truncate {
  padding-right: 25%;
}

.pagination {
  display: flex;
  justify-content: space-around;
  margin-top: 8px;
}

.k-pages {
  background-color: $accent-color-main;
  color: #FFFFFF;
  border: 2px solid #000000;
  padding: 6px;
}

@media (min-width: 768px) {
  .login-dropdown, .notification-dropdown {
    width: 400%;
  }
}