/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/*@import "bootstrap"; */

$accent-color-main: #2230AF;

.navbar {
  background-color: $accent-color-main;
  padding: 10px 25px;

  a {
    color: #FFEFE2;
  }
}

.navbar-brand {
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 600;
}

.project-count {
  font-size: 24px;
  font-weight: 600;
}

section {
  margin: 25px 0;
}

.all-projects {
  margin: 20px;
}

.project-link {
  font-size: 18px;
  padding-right: 15px;
  text-decoration: none;
}

.notification {
  background-color: #FFEFE2;
  padding: 10px;
  margin-bottom: 5px;
}

.timestamp {
  text-align: right;
  font-size: 14px;
}

.skills .badge {
  font-size: 16px;
  margin-right: 5px;
}

.custom-group-user {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}